
react/gygo-app/amplify/.config/project-config.json
react/gygo-app/amplify/backend/auth/gygo63ad94d9/cli-inputs.json
react/gygo-app/amplify/backend/backend-config.json
react/gygo-app/amplify/backend/tags.json
react/gygo-app/amplify/backend/types/amplify-dependent-resources-ref.d.ts
react/gygo-app/amplify/cli.json
react/gygo-app/amplify/hooks/README.md
react/gygo-app/amplify/README.md
react/gygo-app/amplify/team-provider-info.json
react/gygo-app/package-lock.json
react/gygo-app/package.json
react/gygo-app/public/favicon.ico
react/gygo-app/public/logo192.png
react/gygo-app/public/logo512.png
react/gygo-app/public/manifest.json
react/gygo-app/public/robots.txt
react/gygo-app/README.md
react/gygo-app/src/App.css
react/gygo-app/src/reportWebVitals.js
react/gygo-app/src/setupTests.js
terraform/.terraform.lock.hcl
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.68.0/windows_amd64/LICENSE.txt
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.68.0/windows_amd64/terraform-provider-aws_v5.68.0_x5.exe
terraform/terraform.tfstate.backup
terraform/terraform.tfstate
